@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #56baed;
}

.select-box, .play-board, .result-box, .mode-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    transition:all 0.5s ease;
}

.select-box, .mode-box{
    background-color:#fff;
    padding:20px 25px 25px;
    border-radius: 5px;
    max-width:330px;
    width:100%;
    transition: all 0.3s ease;
    /* display:none; */
}

.options button.hard{
    margin-right:5px;
}

.options button.easy{
    margin-left:5px;
    margin-right:5px;
}

.options button.player2{
    margin-left:5px;
}

.select-box{
    opacity: 0;
    pointer-events:none;
    transform: translate(-50%, -50%) scale(0.9);
}

.select-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(0.9);
}

/* this was added for js to hide select-box when clicked on any player*/
.select-box.hide, .mode-box.hide{
    opacity: 0;
    pointer-events:none;
    transform: translate(-50%, -50%) scale(0.9);
}

.select-box header, .mode-box header {
    font-size:23px;
    font-weight:600;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.select-box .title{
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
}

.select-box .options, .mode-box .options{
    display:flex;
    width:100%;
}

.options button {
    width:100%;
    font-weight: 500;
    font-size: 18px;
    padding: 8px 0;
    border:none;
    outline: none;
    border-radius:5px;
    background-color: #56baed;
    color:#fff;
    cursor:pointer;
    transition: all 0.3s ease;
}

.options button:hover,
.result-box .btn button:hover{
    transform:scale(0.96);
}

.options button.playerX{
    margin-right:5px;
}

.options button.playerO{
    margin-left:5px;
}

.play-board{
    /* display:none; */
    opacity: 0;
    pointer-events:none;
    transform: translate(-50%, -50%) scale(0.9);
}

.play-board.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.play-board .details{
    background:#fff;
    padding:7px;
    border-radius: 5px;
}

.play-board .details .players{
    display: flex;
    width:100%;
    position:relative;
    justify-content:space-between;
}

.play-board .details span{
    color: #56baed;
    width:100%;
    border-radius: 5px;
    padding: 7px 0;
    font-size: 19px;
    font-weight: 500;
    cursor:default;
    text-align:center;
    position:relative;
    z-index:5;
    transition: all 0.3s ease;
}

.details span:first-child{
    color:#fff;
}

.details .slider{
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:50%;
    background-color: #56baed;
    border-radius: 5px;
    z-index:2;
    transition: all 0.3s ease;
}

.players.active span:first-child{
    color:#56baed;
}

.players.active span:nth-child(2) {
    color:#fff;
}

.players.active .slider{
    left:50%;
}

.play-board .play-area{
    margin-top:20px;
}

.play-board section{
    display:flex;
}

.play-board section span{
    display:block;
    margin:2px;
    height:80px;
    width:80px;
    background-color:white;
    border-radius: 5px;
    font-size: 40px;
    text-align:center;
    line-height: 80px;
    color:#56baed;
}

.result-box{
    background-color:#fff;
    padding:20px;
    border-radius: 5px;
    max-width:350px;
    width:100%;
    opacity: 0;
    pointer-events:none;
    transform: translate(-50%, -50%) scale(0.9);
}

.result-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.result-box .won-text{
    font-size:25px;
    font-weight: 500;
    display:flex;
    justify-content:center;
}

.result-box .won-text p{
    font-weight: 600;
    margin:0 5px;
}

.result-box .btn{
    display:flex;
    margin-top:20px;
    justify-content:center;

}

.result-box .btn button{
    font-weight: 500;
    font-size: 18px;
    padding: 8px 20px;
    border:none;
    outline: none;
    border-radius:5px;
    background-color: #56baed;
    color:#fff;
    cursor:pointer;
    transition: all 0.3s ease;

}